/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/packages
/public/data/phpmorphy
/public/data/font
/public/data/img/covers
/public/data/vendor/
/resources/assets/js/vendor/
/resources/assets/css/vendor/