/* RATING */
.rating-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.rating-container .rating-stars {
    order: 1;
}
.rating-container .clear-rating {
    order: 2;
}

.rating-container .star {
    font-size: 1em;
    margin: 0 .1em 0 0;
    user-select: none;
}

.rating-container .clear-rating {
    font-size: 1em;
    user-select: none;
}

.fast_rating_block .rating-xs {
    font-size: 1.1em !important;
}
.fast_rating_block .rating-container {
    display: block;
}

@media (max-width: 576px) {

    .rating-container .star {
        font-size: .5em;
    }

    .rating-container .clear-rating {
        font-size: .5em;
    }

}
/* RATING */

.card-img-box .card-img-top {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.card-img-box {
    position: relative;
    width: 100%;		/* desired width */
    overflow: hidden;
}
.card-img-box:before {
    content: "";
    display: block;
    padding-top: 145%; 	/* initial ratio of 1:1*/
}

.card-img-box-square .card-img-top {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.card-img-box-square {
    position: relative;
    width: 100%;		/* desired width */
    overflow: hidden;
}
.card-img-box-square:before {
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

.buhurt-cover {
    cursor: zoom-in;
}

.ui-autocomplete {
    position: absolute;
    z-index: 99999 !important;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete>li {
    padding: 3px 12px;
}

.ui-autocomplete>li.ui-state-focus, .ui-autocomplete>li:hover {
    background-color: #DDD;
}

.ui-helper-hidden-accessible {
    display: none;
}

.irs-from, .irs-to, .irs-single {
    background: #007bff;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    border-top-color: #007bff;
}

.breadcrumb {
    background: none;
    padding: 0;
}

.anchor_list {
    text-transform: capitalize;
}